<a href="https://colab.research.google.com/github/KValim/Projetcs/blob/main/FIAP/sistemas%20de%20recomenda%C3%A7%C3%A3o/distancia_euclidiana.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
clientes =  {'Ana': 
              { 'Cartão de Crédito': 1, 
                'Conta Corrente': 2,
                'Poupança': 3, 
                'Renda Fixa': 4, 
                'Crédito Pessoal': 5},
        
            'Marcos': 
              { 'Cartão de Crédito': 2, 
                'Conta Corrente': 3,
                'Poupança': 4, 
                'Renda Fixa': 5, 
                'Renda Variável': 0.6},

            'Pedro': 
              { 'Cartão de Crédito': 3, 
                'Conta Corrente': 4,
                'Poupança': 5, 
                'Crédito Pessoal': 7},
            
            'Claudia': 
              { 'Cartão de Crédito': 4, 
                'Conta Corrente': 5,
                'Poupança': 6}
}

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
df = pd.DataFrame.from_dict(clientes)
df

                   Ana  Marcos  Pedro  Claudia
Cartão de Crédito  1.0     2.0    3.0      4.0
Conta Corrente     2.0     3.0    4.0      5.0
Poupança           3.0     4.0    5.0      6.0
Renda Fixa         4.0     5.0    NaN      NaN
Crédito Pessoal    5.0     NaN    7.0      NaN
Renda Variável     NaN     0.6    NaN      NaN

Distância Euclidiana

In [ ]:
from math import sqrt
def euclidiana(usuario1, usuario2):
  si = {}
  if not usuario1 in clientes: return -1
  if not usuario2 in clientes: return -2
  for item in clientes[usuario1]:
    if item in clientes[usuario2]: si[item]=1
  if len(si) == 0: return -3

  soma = sum([pow(clientes[usuario1][item] - clientes[usuario2][item],2)
                    for item in clientes[usuario1] if item in clientes[usuario2]])
  return sqrt(soma)

In [ ]:
print(euclidiana('Ana','Marcos'))
print(euclidiana('Ana','Pedro'))
print(euclidiana('Ana','Claudia'))

2.0
4.0
5.196152422706632

Similaridade

In [ ]:
def similaridade(usuario1, usuario2):
  soma = euclidiana(usuario1, usuario2)
  return 1/(1+soma)

In [ ]:
print(similaridade('Ana','Marcos'))
print(similaridade('Ana','Pedro'))
print(similaridade('Ana','Claudia'))

0.3333333333333333
0.2
0.16139047779640892

In [ ]:
def getSimilares(usuario):
  listaSimilaridade = [(similaridade(usuario, outro), outro)
      for outro in clientes if outro != usuario]
  listaSimilaridade.sort()
  listaSimilaridade.reverse()
  return listaSimilaridade

In [ ]:
print(getSimilares('Ana'))
print(getSimilares('Marcos'))
print(getSimilares('Pedro'))
print(getSimilares('Claudia'))

[(0.3333333333333333, 'Marcos'), (0.2, 'Pedro'), (0.16139047779640892, 'Claudia')]
[(0.36602540378443865, 'Pedro'), (0.3333333333333333, 'Ana'), (0.2240092377397959, 'Claudia')]
[(0.36602540378443865, 'Marcos'), (0.36602540378443865, 'Claudia'), (0.2, 'Ana')]
[(0.36602540378443865, 'Pedro'), (0.2240092377397959, 'Marcos'), (0.16139047779640892, 'Ana')]

In [ ]:
df.reset_index(inplace=True)